.contentInput {
  width: 20rem;
  height: 10rem;
}

.titleInput {
  width: 20rem;
  margin-left: 1.6rem;
}

.createCont {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createCont h1 {
  font-weight: bold;
  font-size: 60px;
  margin-top: 30px;
}

.forms {
  padding-top: 10px;
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categsLabel {
  font-size: 1.2rem;
}

.categs {
  background-color: rgba(245, 245, 220, 0.178);
  display: grid;
  grid-template-columns: 150px 150px 150px;
  justify-content: center;
  align-items: center;
}
.categsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputI {
  margin-top: 40px;
  position: relative;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
}

.inputI p {
  position: absolute;
  right: 0;
  top: 25px;
  width: 100%;
}

.inputI label {
  font-weight: bold;
  margin-right: 30px;
}

.catDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.publicar {
  display: flex;
  justify-content: center;
}

.publicar button {
  margin-top: 50px;
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
}

.publicar button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.publicar button:hover {
  color: #e8e8e8;
}

.publicar button:hover::before {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .inputI {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8rem;
    width: 55%;
  }
  .newCat {
    margin-left: 5rem;
  }
  .categs {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    align-items: center;
  }
  .pcategs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
