.buttons {
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.divaHome {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 50rem;
  height: 30rem;
  box-shadow: 2.5px 5px 10px 0.5px rgba(0, 0, 0, 0.329);
  margin: 2rem;
  border: 1.5px solid black;
}
.card:hover {
  box-shadow: 4px 7.8px 15px 1px rgba(0, 0, 0, 0.623) !important;
  transition: all 0.2s linear;
}
.title {
  color: black;
  font-size: 1.3rem;
}
.body {
  height: 240px;
}
.body {
  font-size: larger;
  color: rgb(0, 0, 0);
  width: 100%;
  margin: 0;
}

.contentBody {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  word-wrap: break-word;
  padding: 10px;
}
.contentBodyp {
  margin-top: 0rem;
  width: 100%;
  height: 100%;
}

.link {
  border-bottom: 1.5px solid rgba(36, 36, 36, 0.829);
  background-color: rgba(255, 251, 239, 0.644);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.link:hover {
  background-color: rgba(252, 244, 220, 0.925);
}

.link h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .card {
    width: 22rem;
    height: 50rem;
    margin: 2rem;
    border: 1.5px solid black;
  }
}
