.contentInput {
  width: 20rem;
  height: 10rem;
}

.titleInput {
  width: 20rem;
  margin-left: 0.5rem;
}

.createCont {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createCont h1 {
  font-weight: bold;
  font-size: 60px;
  margin-top: 30px;
}

.forms {
  padding-top: 10px;
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categsLabel {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categsLabel button {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectss {
  display: flex;
  align-items: center;
  justify-content: center;
}

.categs {
  background-color: rgba(245, 245, 220, 0.178);
  display: grid;
  grid-template-columns: 150px 150px 150px;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
}
.categsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
}
.inputI {
  margin-top: 40px;
  position: relative;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
}

.inputI p {
  position: absolute;
  right: 0;
  top: 25px;
  width: 100%;
}

.inputI input {
  background: transparent;
}

.inputI textarea {
  background: transparent;
}
.inputI label {
  font-weight: bold;
  margin-right: 30px;
}

.catDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 4px 12px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #000000;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 rgba(102, 77, 1, 0.644);
}

.btn:hover {
  color: rgb(0, 0, 0);
  box-shadow: inset 0 -100px 0 0 rgba(252, 244, 220, 0.925);
}

.btn:active {
  transform: scale(0.9);
}

.publicar {
  display: flex;
  justify-content: center;
}

.publicar button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #fffbd886;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
}

.publicar button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.publicar button:hover {
  color: #fffbd8;
}

.publicar button:hover::before {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .inputI {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7rem;
    width: 55%;
  }
  .newCat {
    position: relative;
    margin-left: 8rem;
  }

  .publicCat button {
    font-size: smaller;
    width: -2rem;
  }
  .categs {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    align-items: center;
  }
  .pcategs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
