.divaHome {
  width: 100%;
  height: 100%;
}

.divTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 28px;
}
.allNotes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  display: grid;
  justify-content: center;
  grid-template-columns: 400px 400px 400px;
  margin-left: 4.5rem;
}

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .divaHome {
    width: 100%;
    height: 100%;
  }

  .section {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
}
